# Risk Assesement

In [1]:
%matplotlib inline

In [49]:
from sklearn.preprocessing import StandardScaler
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.stattools import kpss
from statsmodels.tsa.seasonal import STL
from scipy.stats import ks_2samp
from Portfolio import selected_tickers

import yfinance as yf
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
import matplotlib.pyplot as plt
import datetime as time

In [3]:
stock_data_june = pd.read_csv("stock_market_june2025.csv")
stock_data_53 = pd.read_csv("stock_data_july_2025.csv")

In [4]:
pd.set_option('display.max_rows', 100) 
stock_data_june['Ticker'].value_counts().gt(2).sum()

0

In [5]:
# Checking tickers that appear more than once
stock_data_53['Ticker'].value_counts().gt(1).sum()
# Checking tickers that appear more than twice
stock_data_53['Ticker'].value_counts().gt(2).sum()

# Filtering
valid_tickers = stock_data_53['Ticker'].value_counts()
valid_tickers = valid_tickers[valid_tickers > 2].index
sorted_stock_data = stock_data_53[stock_data_53['Ticker'].isin(valid_tickers)]

In [6]:
len(sorted_stock_data)

4346

In [7]:
# Sorting the df
sorted_stock_data["Date"] = pd.to_datetime(sorted_stock_data["Date"], dayfirst=True, format="mixed")
sorted_stock_data = sorted_stock_data.sort_values(['Ticker', 'Date'])

### Percentage Change

In [8]:
# Calculating percentage change
sorted_stock_data['Return'] = sorted_stock_data.groupby('Ticker')['Close Price'].pct_change()
# sorted_stock_data

### Volatility

In [52]:
# Volatility
volatility = sorted_stock_data.groupby('Ticker')['Return'].std()
volatility.dropna(inplace=True)
volatility.to_csv('volatility-by-ticker.csv')
# volatility

### Value At Risk

In [51]:
# Value at Risk
Var_95_by_ticker = sorted_stock_data.groupby('Ticker')['Return'].apply(
    lambda x: np.percentile(x.dropna(), 5)
)
Var_95_by_ticker.to_csv('VaR-by-ticker.csv')
Var_95_by_ticker

### Conditional VaR

In [11]:
# Conditional VaR
CVaR_95_by_Ticker = sorted_stock_data.groupby('Ticker')['Return'].apply(
    lambda x: x[x <= np.percentile(x.dropna(), 5)].mean()
)
CVaR_95_by_Ticker.to_csv('CVaR-by-Ticker.csv')

### Drawdown

In [12]:
# Cumulative Return Calculation
sorted_stock_data['CumulativeReturn'] = (1 + sorted_stock_data['Return']).groupby(sorted_stock_data['Ticker']).cumprod()

In [13]:
# Running Maximum Calcualtion
sorted_stock_data['RunningMax'] = sorted_stock_data.groupby('Ticker')['CumulativeReturn'].cummax()

In [14]:
# Drawdown Calculation
sorted_stock_data['Drawdown'] = sorted_stock_data['CumulativeReturn'] / sorted_stock_data['RunningMax'] - 1
max_drawdown = sorted_stock_data.groupby('Ticker')['Drawdown'].min()
sorted_stock_data.to_csv('data-with-drawdown.csv')

In [15]:
stock_data = stock_data_june

In [16]:
stock_data_53['Date']= pd.to_datetime(stock_data_53['Date'])
stock_data_june['Date']= pd.to_datetime(stock_data_june['Date'], format='%d-%m-%Y')

filtered = stock_data_53[stock_data_53['Date'] <= '2025-06-30']
stock_data_june.reset_index(drop=True).equals(filtered.reset_index(drop=True))

False

In [17]:
stock_data_june['Ticker'].value_counts()

Ticker
OUF    2
XVD    2
CLL    2
GFF    2
TXP    2
      ..
JKX    1
OUV    1
KOM    1
LJX    1
UAA    1
Name: count, Length: 1691, dtype: int64

In [50]:
filtered['Ticker'].value_counts()

# Time Series Analysis

# Scrapping

In [19]:
dataset_tickers = stock_data_53['Ticker'].unique().tolist()
dataset_tickers = [t.replace('.', '-') for t in dataset_tickers]
ten_year_data = yf.download(dataset_tickers, start='2014-06-01', end='2025-06-01', threads=False)[["Open","High","Low","Close", "Volume"]]

[*********************100%***********************]  82 of 82 completed

In [20]:
ten_year_data

Price             Open                                                  \
Ticker            AAPL        ABBV         ABT        ADBE         ADP
Date
2014-06-02   19.911323   34.500264   32.259497   64.540001   54.718800
2014-06-03   19.738577   34.265751   31.985427   64.190002   54.217289
2014-06-04   20.020614   34.177000   32.082151   64.099998   53.811947
2014-06-05   20.295747   34.576323   32.049917   64.300003   54.127988
2014-06-06   20.411971   35.064393   32.299798   65.989998   54.389033
...                ...         ...         ...         ...         ...
2025-05-23  193.450453  180.808341  131.091564  409.109985  317.483676
2025-05-27  198.075209  182.692089  131.260807  412.760010  321.274721
2025-05-28  200.362600  183.762828  132.505229  413.809998  325.692655
2025-05-29  203.349217  181.889025  131.141342  414.000000  322.588164
2025-05-30  199.143981  183.415831  132.286209  414.140015  323.563294

Price                                                                   ...  \
Ticker             AMD        AMGN         AMT        AMZN        AVGO  ...
Date                                                                    ...
2014-06-02    4.030000   84.870698   69.317432   15.629500    5.337483  ...
2014-06-03    3.960000   84.674363   68.327945   15.287500    5.346478  ...
2014-06-04    3.930000   85.437822   68.583019   15.342500    5.341231  ...
2014-06-05    4.040000   86.775781   68.892283   15.405000    5.359970  ...
2014-06-06    4.090000   86.397663   69.433363   16.250000    5.417684  ...
...                ...         ...         ...         ...         ...  ...
2025-05-23  108.089996  267.311488  211.455752  198.899994  226.407103  ...
2025-05-27  113.180000  271.497534  209.372170  203.089996  232.323178  ...
2025-05-28  114.919998  276.774704  211.336695  205.919998  236.593122  ...
2025-05-29  115.489998  276.973118  210.007173  208.029999  245.332560  ...
2025-05-30  111.580002  280.335807  211.455765  204.839996  240.653577  ...

Price           Volume                                                 \
Ticker            UBER       UNH      UNP      UPS         V     VRTX
Date
2014-06-02         NaN   1986400  2625600  2914100   6364000  1173000
2014-06-03         NaN   2841100  2845600  2319200   9011600   975500
2014-06-04         NaN   3552900  2354800  2822100  12589600  1581900
2014-06-05         NaN   3453700  3489200  2514900   6597600  1397700
2014-06-06         NaN   3286600  4104800  2103700  10002400  1185200
...                ...       ...      ...      ...       ...      ...
2025-05-23  17929700.0  16873600  3227900  3318500   5345900  1427300
2025-05-27  17446900.0  20144600  2613300  6117400   6316000  2048300
2025-05-28  13810300.0  16114200  3073200  3816500   3299000  1209500
2025-05-29  38116300.0  16221100  2980600  4593900   4590400   882500
2025-05-30  29050900.0  16309300  4179600  6763200   8726900  2581700

Price
Ticker            VZ       WMT       XOM      ZTS
Date
2014-06-02  14364600  13171200   7761300  3561300
2014-06-03  19683700  21640800   9384200  3323000
2014-06-04  12696000  18599700   7148800  3349900
2014-06-05   9855300  14087400  12296100  2784700
2014-06-06  13917800  12566700   9340900  2524200
...              ...       ...       ...      ...
2025-05-23  12393400  13668600  12061600  2732200
2025-05-27  12873700  17180900  13043600  2323100
2025-05-28  12783000  11220100  14292400  1723700
2025-05-29   9960400  14338000  13825300  2450400
2025-05-30  26569500  29980100  28645800  5467800

[2767 rows x 410 columns]

#### There are missing values. These values are refilled by forward fill

In [21]:
missing_days = ten_year_data.index.to_series().diff().dt.days.value_counts()
missing_days

Date
1.0    2166
3.0     497
4.0      76
2.0      27
Name: count, dtype: int64

In [22]:
(ten_year_data.isnull() == True).any().any()

True

In [23]:
ten_year_data.shape

(2767, 410)

In [24]:
ten_year_data.dropna(inplace=True)

In [25]:
ten_year_data.shape

(1523, 410)

In [26]:
date_without_missing = pd.date_range(start=ten_year_data.index.min(), end=ten_year_data.index.max())
ten_year_data_fill = ten_year_data.reindex(date_without_missing).ffill()

In [27]:
ten_year_data_fill.shape

(2213, 410)

In [28]:
(ten_year_data_fill.isnull() == True).any().any()

False

In [29]:
ten_year_data_fill['Close']

Ticker,AAPL,ABBV,ABT,ADBE,ADP,AMD,AMGN,AMT,AMZN,AVGO,...,UBER,UNH,UNP,UPS,V,VRTX,VZ,WMT,XOM,ZTS
2019-05-10,47.299339,59.049664,68.537025,278.480011,141.207733,27.959999,140.719879,166.707611,94.499001,25.500366,...,41.570000,218.176788,152.317123,78.553932,153.627319,168.850006,40.257408,30.988600,57.046558,97.310623
2019-05-11,47.299339,59.049664,68.537025,278.480011,141.207733,27.959999,140.719879,166.707611,94.499001,25.500366,...,41.570000,218.176788,152.317123,78.553932,153.627319,168.850006,40.257408,30.988600,57.046558,97.310623
2019-05-12,47.299339,59.049664,68.537025,278.480011,141.207733,27.959999,140.719879,166.707611,94.499001,25.500366,...,41.570000,218.176788,152.317123,78.553932,153.627319,168.850006,40.257408,30.988600,57.046558,97.310623
2019-05-13,44.550308,58.607475,67.685356,267.700012,137.901855,26.240000,137.239761,167.747101,91.134003,24.612768,...,37.099998,217.233658,148.741211,77.554726,150.396332,164.610001,40.144230,30.374355,56.413204,96.416367
2019-05-14,45.255562,59.804459,68.160500,271.859985,138.997925,27.320000,137.411713,168.760986,92.005997,25.335934,...,39.959999,214.404312,151.079010,77.874786,153.149368,166.720001,40.002750,30.495985,56.487720,96.321220
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-05-26,195.048645,181.690720,130.713272,407.690002,319.493622,110.309998,269.473938,210.205597,200.990005,228.182922,...,87.750000,293.486603,219.402191,93.602295,352.919006,436.000000,42.630703,96.115509,102.080101,162.038177
2025-05-27,199.983047,184.129669,132.345932,413.100006,324.090637,114.559998,277.201263,212.031235,206.020004,235.096649,...,89.000000,292.920593,221.614899,95.741890,358.668884,446.000000,42.807838,97.352623,102.565582,165.705902
2025-05-28,200.192795,181.522171,131.430054,412.230011,322.528473,112.860001,276.159698,210.800919,204.720001,238.867767,...,88.260002,296.008667,219.471329,94.946899,359.098145,445.100006,42.443726,97.013412,101.168587,164.848770
2025-05-29,199.723328,184.030518,132.256348,413.359985,322.508545,113.029999,281.258362,212.041168,205.699997,241.401810,...,84.300003,296.068268,219.797318,96.281693,361.763428,447.089996,42.640545,96.873741,101.743240,166.582977
2025-05-30,200.622314,184.516327,132.983078,415.089996,323.911560,110.730003,285.860992,212.973816,205.009995,241.501587,...,84.160004,299.781891,220.284286,95.732071,364.548553,442.049988,43.260517,98.489967,101.356842,168.068008

## Returns

In [30]:
ten_year_returns = ten_year_data_fill['Close'].pct_change().dropna()

## Features

### Moving Averages

In [183]:
mo_a_5 = ten_year_returns.rolling(5).mean()
mo_a_5.columns = pd.MultiIndex.from_product([['MA_5'], mo_a_5.columns])
mo_a_10 = ten_year_returns.rolling(10).mean()
mo_a_10.columns = pd.MultiIndex.from_product([['MA_10'], mo_a_10.columns])
mo_a_20 = ten_year_returns.rolling(20).mean()
mo_a_20.columns = pd.MultiIndex.from_product([['MA_20'], mo_a_20.columns])
mo_a_50 = ten_year_returns.rolling(50).mean()
mo_a_50.columns = pd.MultiIndex.from_product([['MA_50'], mo_a_50.columns])
mo_a_100 = ten_year_returns.rolling(100).mean()
mo_a_100.columns = pd.MultiIndex.from_product([['MA_100'], mo_a_100.columns])
mo_a_200 = ten_year_returns.rolling(200).mean()
mo_a_200.columns = pd.MultiIndex.from_product([['MA_200'], mo_a_200.columns])

In [32]:
moving_averages = pd.concat([
    mo_a_5,
    mo_a_10,
    mo_a_20,
    mo_a_50,
    mo_a_100,
    mo_a_200
], axis=1)

#### Scaling

In [97]:
scaled_array = StandardScaler().fit_transform(moving_averages)
scaled_moving_averages = pd.DataFrame(
    scaled_array,
    index=moving_averages.index,
    columns=moving_averages.columns
)

### Volatility

In [182]:
vol_21 = ten_year_returns.rolling(21).std()
vol_63 = ten_year_returns.rolling(63).std()
vol_252 = ten_year_returns.rolling(252).std()

#### Scaling

In [112]:
scaled_vol_21 = pd.DataFrame(
    StandardScaler().fit_transform(vol_21),
    index= vol_21.index,
    columns= vol_21.columns
)
scaled_vol_63 = pd.DataFrame(
    StandardScaler().fit_transform(vol_63),
    index= vol_63.index,
    columns= vol_63.columns
)
scaled_vol_252 = pd.DataFrame(
    StandardScaler().fit_transform(vol_252),
    index= vol_252.index,
    columns= vol_252.columns
)

### Market Index

In [34]:
market_index = yf.download('^GSPC', start='2014-06-01', end='2025-06-01')

[*********************100%***********************]  1 of 1 completed

In [134]:
market_index.index.to_series().diff().value_counts()

1 days    4015
Name: count, dtype: int64

In [131]:
missing = pd.date_range(market_index.index.min(), market_index.index.max())
market_index = market_index.reindex(missing).ffill()

In [132]:
market_index_return = market_index['Close'].pct_change().dropna()

#### Scaling

In [138]:
sc_market_index_returns = pd.DataFrame(
    StandardScaler().fit_transform(market_index_return),
    index=market_index_return.index,
    columns=market_index_return.columns
)

### RSI

In [154]:
delta = ten_year_data_fill['Close'].diff().dropna()

gain = delta.clip(lower=0)
loss = -delta.clip(upper=0)

avg_gain = gain.ewm(alpha=1/14, min_periods=14, adjust=False).mean().dropna()
avg_loss = loss.ewm(alpha=1/14, min_periods=14, adjust=False).mean().dropna()

rs = avg_gain/avg_loss

rsi = 100 - (100/(1 + rs))

#### Scaling

In [161]:
scaled_rsi = pd.DataFrame(
    StandardScaler().fit_transform(rsi),
    index=rsi.index,columns=rsi.columns
)

### MACD

In [39]:
fast_emw = ten_year_data_fill['Close'].ewm(alpha=1/12,adjust=False).mean()
slow_emw = ten_year_data_fill['Close'].ewm(alpha=1/26, adjust=False).mean()
macd_line = fast_emw - slow_emw

signal_line = macd_line.ewm(alpha=1/9, adjust=False).mean()

macd_histogram = macd_line - signal_line

#### Scaling

In [169]:
sc_macd_line = pd.DataFrame(
    StandardScaler().fit_transform(macd_line),
    index=macd_line.index,columns=macd_line.columns
)
sc_signal_line = pd.DataFrame(
    StandardScaler().fit_transform(signal_line),
    index=signal_line.index,columns=signal_line.columns
)
sc_macd_histogram = pd.DataFrame(
    StandardScaler().fit_transform(macd_histogram),
    index=macd_histogram.index,columns=macd_histogram.columns
)

### Bollinger Bands

In [179]:
sma_20 = ten_year_data_fill['Close'].rolling(20).mean()
roll_std = ten_year_data_fill['Close'].rolling(20).std()
lower_band = sma_20 - (2 * roll_std)
sma_20.columns = pd.MultiIndex.from_product([['SMA-20'], sma_20.columns])
upper_band.columns = pd.MultiIndex.from_product([['UpperBand'], upper_band.columns])
lower_band.columns = pd.MultiIndex.from_product([['LowerBand'], lower_band.columns])

bollinger_bands = pd.concat([
    sma_20,
    upper_band,
    lower_band
], axis=1)

#### Scaling

In [184]:
sc_bollinger_bands = pd.DataFrame(
    StandardScaler().fit_transform(bollinger_bands),
    index=bollinger_bands.index,columns=bollinger_bands.columns
)

### On-Balance Volume

In [42]:
OBV = pd.DataFrame(0, index=ten_year_data_fill['Close'].index, columns=ten_year_data_fill['Close'].columns)
for j in range(0, len(ten_year_data_fill['Close'].columns)):
    close_col = ten_year_data_fill['Close'].iloc[:,j].values
    volume_col = ten_year_data_fill['Volume'].iloc[:,j].values
    obv_col = np.zeros(len(close_col))
    for i in range(1, len(close_col)):
        if close_col[i] > close_col[i-1]:
            obv_col[i] = obv_col[i-1] + volume_col[i]
        elif close_col[i] < close_col[i-1]:
            obv_col[i] = obv_col[i-1] - volume_col[i]
        else:
            obv_col[i] = obv_col[i-1]
    OBV.iloc[:,j]=obv_col

### Scaling

In [186]:
scaled_OBV = pd.DataFrame(
    StandardScaler().fit_transform(OBV),
    index=OBV.index,columns=OBV.columns
)

## Classical Decomposition

In [41]:
decomposition = {}
for ticker in three_year_data_return.columns:
    series = three_year_data_return[ticker]
    decomposition[ticker] = seasonal_decompose(series, model='additive', period=21)

NameError: name 'three_year_data_return' is not defined

In [ ]:
trend = decomposition["VZ"].trend
seasonsal = decomposition["VZ"].seasonal
residual = decomposition["VZ"].resid

In [ ]:
plt.figure(figsize=(35,20))
plt.subplot(411)
plt.plot(three_year_data_return.index, trend, label = "Trend", color= "blue")
plt.legend(loc="upper left")
plt.subplot(412)
plt.plot(three_year_data_return.index, seasonsal, label = "Seasonality", color= "green")
plt.legend(loc="upper left")
plt.subplot(413)
plt.plot(three_year_data_return.index, residual, label = "Residual", color= "orange")
plt.legend(loc="upper left")
plt.tight_layout()
plt.show()

### STL Decomposition

In [ ]:
stl_decomp = STL(daily_avg["Close Price"], period=7).fit()

In [ ]:
plt.figure(figsize=(10, 4))
plt.subplot(411)
plt.plot(daily_avg["Date"] ,stl_decomp.observed, label="Original", color="orange")
plt.legend(loc="upper left")
plt.subplot(412)
plt.plot(daily_avg["Date"] ,stl_decomp.trend, label="Trend", color="grey")
plt.legend(loc="upper left")
plt.subplot(413)
plt.plot(daily_avg["Date"], stl_decomp.seasonal, label="Seasonal", color="grey")
plt.legend(loc="upper left")
plt.subplot(414)
plt.plot(daily_avg["Date"], stl_decomp.resid, label="Residual", color="black")
plt.legend(loc="upper left")
plt.tight_layout()
plt.show()

### Checking Stationarity
#### Performing Adf Test

In [ ]:
adf_test = adfuller(daily_avg["Close Price"])
print(f"ADF Statistics: {round(adf_test[0], 3)}")
print(f"p-value: {round(adf_test[1], 3)}")
print("Critical Values")
for key, value in adf_test[4].items():
    print(f"{key}: {round(value, 3)}")

#### Performing KPSS Test

In [ ]:
kpss_test = kpss(daily_avg["Close Price"], regression="ct")
print(f"KPSS Statistics: {round(kpss_test[0], 2)}")
print(f"p-value: {kpss_test[1]}")
for key, value in kpss_test[3].items():
    print(f"{key}: {value}")

#### Performing KS Test to check strict stationarity

In [ ]:
def ks_test_stationarity(series):
    split = len(series) //2
    first_half = series[:split]
    second_half = series[split:]
    stat, p_value  = ks_2samp(first_half, second_half)
    return stat, p_value

ks_stat, ks_p_value = ks_test_stationarity(daily_avg["Close Price"])
print(ks_stat, ks_p_value)

#### Conclusion: 
#### There is a conflict between the adf and kpss tests because the provided data is of 21 days which is not suitable for either of the tests to provide accurate results. Thereby, stationarity of data remains ambiguous